<html>
<head>
	<title>Home</title>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src= "../resources/controller.js"></script>
</head>
<body>

<div ng-app="SpringAppModule" ng-controller="appcontroller"> 
<br>
<br>
<br>
<br>
<button type="button" value="Click to invoke service!" title="Click" ng-click="gotoPolicy()">View Your Policies</button>
<br>
<br>
<br>
<br>
<button type="button" value="Click to invoke service!" title="Click" ng-click="gotoCustomer()">View Your Agents</button>
</div>

 

</body>
</html>
