<html>
<head>
	<title>Home</title>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src= "resources/controller.js"></script>
	
</head>
<body>
<h1>
	Welcome to Spring App!  
</h1>

<div ng-app="SpringAppModule" ng-controller="appcontroller"> 

<br>
<br>
<br>
<br>
<button type="button" value="Click to invoke service!" title="Click" ng-click="gotoUser('user1')">Proceed as user</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <button type="button" value="Click to invoke service!" title="Click" ng-click="gotoAdmin('admin1')">Proceed as admin</button>
<br>
<br>
<br>
<br>

<button type="button" value="Click to invoke service!" title="Click" ng-click="logout()">Logout</button>
<br>
<br>
<div style="color: GREEN">{{logoutMessage}}</div>

</div>


</body>
</html>
